<%- include('partials/header') %>

    <main>
        <section class="hero-section1 d-flex align-items-center justify-content-center">
            <div class="hero-content text-center">
                <h1 class="display-1 fw-bold">NOSSO BLOG</h1>
                <p class="text-white" style="font-size: 1.5rem;">Notícias, artigos e novidades do Centro
                    de
                    Engenharia Elétrica e
                    Informática.</p>
            </div>
        </section>
        <section class="py-5">
            <div class="container">
                <div class="row" id="blog-posts-container">
                </div>
            </div>
        </section>

    </main>

    <%- include('partials/footer') %>