<%- include('partials/header') %>

    <main class="py-5" style="margin-top: 56px;">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mb-5">
                    <h1 class="display-4 fw-bold text-ceei-primary">Administração</h1>
                    <p class="text-ceei-primary" style="font-size: 1.5rem;">Conheça a equipe que compõe a administração do CEEI.</p>
                </div>
            </div>

            <div class="row justify-content-center" id="positions-list-container">
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>