<%- include('partials/header') %>

    <main>
        <section class="hero-section2 d-flex align-items-center justify-content-center">
            <div class="hero-content text-center">
                <h1 class="display-1 fw-bold">ADMINISTRAÇÃO</h1>
                <p class="text-white" style="font-size: 1.5rem;">Conheça a equipe que compõe a administração
                    do CEEI.</p>
            </div>
        </section>
        <section class="py-5">
            <div class="container">
                <div class="row justify-content-center" id="positions-list-container">
                </div>
            </div>
        </section>

    </main>

    <%- include('partials/footer') %>