<%- include('partials/header') %>

    <main>
        <section class="hero-section d-flex align-items-center justify-content-center">
            <div class="video-container">
                <video autoplay muted playsinline loop>
                    <source src="/videos/hero-video.mp4" type="video/mp4">
                    Seu navegador não suporta o elemento de vídeo.
                </video>
            </div>

            <div class="hero-content text-center">
                <h1 class="display-1 fw-bold">CEEI</h1>
            </div>
        </section>

        <section id="noticias" class="py-5">
            <div class="container">
                <h1 class="text-center mb-5 text-ceei-primary">ÚLTIMAS NOTÍCIAS</h1>

                <div class="row" id="latest-posts-container">
                </div>

                <div class="text-center mt-4">
                    <a href="/blog" class="btn btn-primary btn-lg">VER MAIS</a>
                </div>
            </div>
        </section>

        <section id="sobre" class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center mb-4 text-ceei-primary">O CEEI</h1>
                        <p class="lead mb-5 text-ceei-primary text-justify" id="about-text-placeholder">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-4 about-card">
                        <img src="/images/MISSAO.jpg" class="img-fluid" alt="Missao">
                    </div>
                    <div class="col-md-4 mb-4 about-card">
                        <img src="/images/VISAO.jpg" class="img-fluid" alt="Visao">
                    </div>
                    <div class="col-md-4 mb-4 about-card">
                        <img src="/images/VALORES.jpg" class="img-fluid" alt="Valores">
                    </div>
                </div>
            </div>
        </section>
        <section id="unidades-academicas" class="py-5">
            <div class="container">
                <h1 class="text-center mb-5 text-ceei-primary">UNIDADES ACADÊMICAS</h1>
                <div class="row justify-content-center">

                    <div class="col-lg-5 col-md-6 mb-4">
                        <a href="http://www.dee.ufcg.edu.br/" target="_blank" class="unit-card">
                            <img src="/images/UAEE.jpg" class="img-fluid rounded shadow-sm"
                                alt="Unidade Acadêmica de Engenharia Elétrica">
                            <p class="text-center mt-3 fw-bold text-ceei-primary">Unidade Acadêmica de Engenharia
                                Elétrica</p>
                        </a>
                    </div>

                    <div class="col-lg-5 col-md-6 mb-4">
                        <a href="http://www.dsc.ufcg.edu.br/" target="_blank" class="unit-card">
                            <img src="/images/UASC.jpg" class="img-fluid rounded shadow-sm"
                                alt="Unidade Acadêmica de Sistemas e Computação">
                            <p class="text-center mt-3 fw-bold text-ceei-primary">Unidade Acadêmica de Sistemas e
                                Computação</p>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <section id="orgaos-e-inova" class="py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-lg-8">
                        <h2 class="text-center mb-5 text-ceei-primary">ÓRGÃOS SUPLEMENTARES</h2>
                    </div>
                    <div class="col-lg-4 border-lg-start">
                        <h2 class="text-center mb-5 text-ceei-primary">PROGRAMA INOVA</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-6 mb-4 d-flex align-items-stretch">
                                <div class="card w-100 shadow-sm unit-card">
                                    <img src="/images/Embrapii.jpg" class="card-img-top" alt="Logo EMBRAPII">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text lead-2 text-ceei-primary text-justify">EMBRAPII – desenvolve
                                            projetos na área de
                                            Software e Automação. A UE CEEI-UFCG tem mais de 130 projetos contratados
                                            com mais de 70 empresas parceiras da indústria, em diversos domínios de
                                            aplicação.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 d-flex align-items-stretch">
                                <div class="card w-100 shadow-sm unit-card">
                                    <img src="/images/Virtus.jpg" class="card-img-top" alt="Logo VIRTUS">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text lead-2 text-ceei-primary text-justify">VIRTUS – O Núcleo de
                                            Pesquisa, Desenvolvimento
                                            e Inovação em Tecnologia da Informação, Comunicação e Automação executa
                                            projetos de Lei de Informática, EMBRAPII, ANP, dentre outros mecanismos de
                                            incentivo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 border-lg-start">
                        <div class="d-flex align-items-stretch">
                            <div class="card w-100 shadow-sm unit-card">
                                <img src="/images/INOVA.png" class="card-img-top" alt="Programa INOVA">
                                <div class="card-body d-flex flex-column">
                                    <p class="card-text lead-2 text-ceei-primary text-justify">O Programa INOVA é uma
                                        iniciativa do CEEI,
                                        instituído pela Resolução 01/2019, criado com o propósito de aproximar a
                                        universidade do setor produtivo e fortalecer a integração entre ciência,
                                        tecnologia e inovação.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="parceiros" class="py-5 bg-ceei-primary">
            <div class="container">
                <h1 class="text-center mb-5 text-white">PARCEIROS</h1>
                <div class="row align-items-center justify-content-center g-5" id="partners-container">
                </div>
            </div>
        </section>

        <section id="novidades" class="py-5 bg-light">
            <div class="container text-center">
                <h1 class="text-center mb-5 text-ceei-primary">NOVIDADES DO CEEI</h1>
                <div class="p-5 border rounded">
                    <!-- LightWidget WIDGET -->
                    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
                        src="//lightwidget.com/widgets/c886926f83975a38a29123a0b1b1acf3.html" scrolling="no"
                        allowtransparency="true" class="lightwidget-widget"
                        style="width:100%;border:0;overflow:hidden;"></iframe>
                </div>
            </div>
        </section>

        <section id="contato" class="py-5 bg-ceei-primary">
            <div class="container">
                <h1 class="text-center mb-5 text-white">CONTATOS</h1>
                <div class="row">
                    <div class="col-lg-6 mb-4 mb-lg-0">
                        <div class="ratio ratio-16x9 rounded overflow-hidden h-100">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.2423917198266!2d-35.91045035886577!3d-7.2131667864125095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ac1e2cb913e763%3A0xb201f40a3363c146!2sBIC%20-%20Electrical%20Engineering%20and%20Computer%20Center%20-UFCG!5e0!3m2!1sen!2sbr!4v1758985611358!5m2!1sen!2sbr"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form id="contact-form">
                            <div class="mb-3">
                                <label for="name" class="form-label" style="color: #ffffff;">Seu Nome</label>
                                <input type="text" class="form-control" id="name" required autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label" style="color: #ffffff;">Seu Email</label>
                                <input type="email" class="form-control" id="email" required autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label for="subject" class="form-label" style="color: #ffffff;">Assunto</label>
                                <input type="text" class="form-control" id="subject" required autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label" style="color: #ffffff;">Mensagem</label>
                                <textarea class="form-control" id="message" rows="5" required
                                    autocomplete="off"></textarea>
                            </div>

                            <!-- CAMPO HIDDEN PARA ARMAZENAR O TOKEN -->
                            <input type="hidden" id="cf-turnstile-response" name="cf-turnstile-response">

                            <!-- Widget Turnstile com callback -->
                            <div class="cf-turnstile mb-3" data-sitekey="0x4AAAAAAB7OFPFQukI_QeWT" data-theme="light"
                                data-callback="onTurnstileCallback"></div>

                            <button type="submit" class="btn btn-light w-100">Enviar Mensagem</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <%- include('partials/footer') %>