<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <h1>Servidor do CEEI Funcionando!</h1>
    <p>O próximo passo é configurar o banco de dados com o Prisma.</p>

    <script src="/js/main.js"></script>
</body>

</html>