<%- include('partials/header') %>

    <main style="margin-top: 56px;">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <h1 class="display-4 fw-bold mb-3" id="post-title"></h1>

                    <p class="text-muted" id="post-date"></p>

                    <img src="" id="post-cover-image" class="img-fluid rounded mb-5" alt="Capa do post">

                    <div id="post-content-body">
                    </div>

                </div>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>